Repository maticzav/semantha: changes, and which Codecov flags are due for each by the changed paths.
All: semantha, semantha-core

Update dependency @types/node to v14
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency p-retry to v4
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency dockerode to v3
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update jest monorepo
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/env-ci to v3.1.1
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/got to v9.6.12
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency codecov to v3.8.3
  package.json
  yarn.lock
Due: none

Update dependency @octokit/rest to v18
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/jest to v26
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency libnpmpublish to v4
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency globby to v12
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/jest to v27
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/fs-extra to v9
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency husky to v7
  package.json
  yarn.lock
Due: none

Update dependency pretty-quick to v3
  package.json
  yarn.lock
Due: none

Path conditions:
  semantha: any of: packages/semantha/
  semantha-core: any of: packages/semantha-core/
