Repository maticzav/semantha: changes, and which Codecov flags are due for each by the changed paths.
All: semantha, semantha-core

Update dependency pretty-quick to v1.8.1
  package.json
  yarn.lock
Due: none

Update dependency @types/got to v9.4.0
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency pretty-quick to v1.10.0
  package.json
  yarn.lock
Due: none

Update dependency typescript to v3.2.4
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency globby to v9
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/jest to v23.3.13
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency prettier to v1.16.0
  package.json
  yarn.lock
Due: none

Update dependency semver to v6
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency get-stream to v5
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/jest to v24
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency ts-jest to v24
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency codecov to v3.6.5
  package.json
  yarn.lock
Due: none

Update dependency ts-node to v8
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/node to v10.17.50
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency @types/jest to v23.3.14
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/p-retry to v3
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency delay to v4.4.1
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/dockerode to v2.5.34
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/fs-extra to v5.1.0
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency prettier to v1.19.1
  package.json
  yarn.lock
Due: none

Update dependency tslint to v5.20.1
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency @types/got to v9.6.11
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/lodash.isequal to v4.5.5
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency delay to v5
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency codecov to v3.7.1 [SECURITY]
  package.json
  yarn.lock
Due: none

Path conditions:
  semantha: any of: packages/semantha/
  semantha-core: any of: packages/semantha-core/
