Repository maticzav/semantha: changes, and which Codecov flags are due for each by the changed paths.
All: semantha, semantha-commit-analyser, semantha-npm

pushing semantha forward
  packages/semantha/src/analyser.ts
  packages/semantha/src/github.ts
  packages/semantha/src/reporter.ts
  packages/semantha/src/semantha.ts
  packages/semantha/src/types.d.ts
  packages/semantha/src/workspaces.ts
Due: semantha

fixes
  packages/semantha/src/analyser.ts
Due: semantha

Pin dependencies
  package.json
  packages/semantha-commit-analyser/package.json
  packages/semantha-npm/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-commit-analyser, semantha-npm

Update dependency husky to v1.3.0
  package.json
  yarn.lock
Due: none

Update dependency tslint to v5.12.0
  packages/semantha-commit-analyser/package.json
  packages/semantha-npm/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-commit-analyser, semantha-npm

tests, semantha
  lerna.json
  packages/semantha-commit-analyser/README.md
  packages/semantha-commit-analyser/jest.config.js
  packages/semantha-commit-analyser/package.json
  packages/semantha-commit-analyser/src/index.ts
  packages/semantha-commit-analyser/tsconfig.json
  packages/semantha-commit-analyser/tslint.json
  packages/semantha-npm/README.md
  packages/semantha-npm/jest.config.js
  packages/semantha-npm/package.json
  packages/semantha-npm/src/index.ts
  packages/semantha-npm/tsconfig.json
  packages/semantha-npm/tslint.json
  packages/semantha/src/analyser.ts
  packages/semantha/src/bin.ts
  packages/semantha/src/config.ts
  packages/semantha/src/github.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/reporter.ts
  packages/semantha/src/semantha.ts
  packages/semantha/src/tests/__fixtures__/config/invalid/package.json
  packages/semantha/src/tests/__fixtures__/config/no-repository/package.json
  packages/semantha/src/tests/__fixtures__/config/no-workspaces/package.json
  packages/semantha/src/tests/__fixtures__/config/valid/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/packages/package-a/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/packages/package-b/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/packages/package-c/package.json
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/github.test.ts
  packages/semantha/src/tests/workspaces.test.ts
  packages/semantha/src/workspaces.ts
  packages/semantha/tsconfig.json
Due: semantha, semantha-commit-analyser, semantha-npm

group config inside one file
  packages/semantha/src/config.ts
  packages/semantha/src/tests/__fixtures__/workspaces/invalid/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-a/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-b/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-c/package.json
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/workspaces.test.ts
  packages/semantha/src/workspaces.ts
Due: semantha

Update dependency husky to v1.3.1
  package.json
  yarn.lock
Due: none

Update dependency @types/jest to v23.3.11
  packages/semantha/package.json
  yarn.lock
Due: semantha

examples, split, progress
  packages/semantha/jest.config.js
  packages/semantha/package.json
  packages/semantha/src/analyser.ts
  packages/semantha/src/github.ts
  packages/semantha/src/index.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/semantha.ts
  packages/semantha/src/tests/github.test.ts
  packages/semantha/src/types.d.ts
  packages/semantha/tslint.json
Due: semantha

examples, split, progress
  examples/with-json/package.json
  examples/with-typescript/package.json
  examples/with-typescript/src/index.ts
  examples/with-typescript/tsconfig.json
  examples/with-typescript/yarn.lock
  packages/semantha-core/README.md
  packages/semantha-core/jest.config.js
  packages/semantha-core/package.json
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/constants.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/publish.ts
  packages/semantha-core/src/tests/__fixtures__/workspace/package.json
  packages/semantha-core/src/tests/constants.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/utils.test.ts
  packages/semantha-core/src/tests/workspaces.test.ts
  packages/semantha-core/src/types.d.ts
  packages/semantha-core/src/utils.ts
  packages/semantha-core/src/workspaces.ts
  packages/semantha-core/tsconfig.json
  packages/semantha-core/tslint.json
  yarn.lock
Due: none

Pin dependencies
  packages/semantha/package.json
  yarn.lock
Due: semantha

analyser works, added tests
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/tests/anayser.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/workspaces.test.ts
Due: none

renovate schedule
  renovate.json
Due: none

github tests
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/tests/github.test.ts
Due: none

changelog init, release
  README.md
  packages/semantha-core/package.json
  packages/semantha-core/src/changelog.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/publish.ts
  packages/semantha-core/src/release.ts
  packages/semantha-core/src/tests/__snapshots__/changelog.test.ts.snap
  packages/semantha-core/src/tests/changelog.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/release.test.ts
  yarn.lock
Due: none

dependencies
  packages/semantha/package.json
  yarn.lock
Due: semantha

semantha
  package.json
  packages/semantha/package.json
  packages/semantha/src/bin.ts
  packages/semantha/src/config.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/manager.test.ts
  packages/semantha/src/types.d.ts
  yarn.lock
Due: semantha

fixes
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/bin.test.ts
Due: semantha

minor changes
  packages/semantha/src/config.ts
  packages/semantha/src/manager.ts
Due: semantha

Pin dependencies
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha

core, opinionated
  packages/semantha-core/package.json
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/release.ts
  packages/semantha-core/src/tests/__fixtures__/workspace/package.json
  packages/semantha-core/src/tests/analyser.test.ts
  packages/semantha-core/src/tests/changelog.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/release.test.ts
  packages/semantha-core/src/tests/version.test.ts
  packages/semantha-core/src/types.d.ts
  packages/semantha-core/src/version.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/workspaces.test.ts
  packages/semantha/src/types.d.ts
  packages/semantha/src/workspaces.ts
Due: semantha

circle, stale, github issue templates, semantha
  .circleci/config.yml
  .github/ISSUE_TEMPLATE/1.Bug_report.md
  .github/ISSUE_TEMPLATE/2.Feature_request.md
  .github/ISSUE_TEMPLATE/3.Other.md
  .github/stale.yml
  packages/semantha/package.json
  packages/semantha/src/config.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/tests/utils.test.ts
  packages/semantha/src/tests/workspaces.test.ts
  packages/semantha/src/utils.ts
  packages/semantha/src/workspaces.ts
  yarn.lock
Due: semantha

Update dependency @types/jest to v23.3.12
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha

semantha complete
  packages/semantha/jest.config.js
  packages/semantha/package.json
  packages/semantha/src/bin.ts
  packages/semantha/src/config.ts
  packages/semantha/src/git.ts
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/git.test.ts
  packages/semantha/src/tests/npm.test.ts
  packages/semantha/src/tests/version.test.ts
  packages/semantha/src/version.ts
  yarn.lock
Due: semantha

fix codecov config
  codecov.yml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create LICENSE
  LICENSE
Due: none

Create PULL_REQUEST_TEMPLATE.md
  PULL_REQUEST_TEMPLATE.md
Due: none

bin, check for missing workspaces
  packages/semantha/package.json
  packages/semantha/src/config.ts
  packages/semantha/src/tests/__fixtures__/workspaces/invalid/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/invalid/package/foo
  packages/semantha/src/tests/config.test.ts
Due: semantha

version, git tests
  packages/semantha/src/tests/git.test.ts
  packages/semantha/src/tests/version.test.ts
Due: semantha

Path conditions:
  semantha: any of: packages/semantha/
  semantha-commit-analyser: any of: packages/semantha-commit-analyser/
  semantha-npm: any of: packages/semantha-npm/
