Repository maticzav/semantha: changes, and which Codecov flags are due for each by the changed paths.
All: semantha, semantha-core

codecov.yml:

coverage:
  status:
    project:
      default: off
      semantha:
        target: 100%
        flags: semantha
      semantha-core:
        target: 100%
        flags: semantha-core

flags:
  semantha:
    paths:
      - packages/semantha/
  semantha-core:
    paths:
      - packages/semantha-core/

Pin dependencies
  packages/semantha/package.json
  yarn.lock
Due: semantha

Revert "Pin dependencies"
  packages/semantha/package.json
  yarn.lock
Due: semantha

tests
  packages/semantha/package.json
  packages/semantha/src/git.ts
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/tests/__fixtures__/package/package.json
  packages/semantha/src/tests/git.test.ts
  packages/semantha/src/tests/npm.test.ts
  packages/semantha/src/tests/version.test.ts
  packages/semantha/src/version.ts
  yarn.lock
Due: semantha

tests
  packages/semantha/src/tests/git.test.ts
  packages/semantha/src/tests/manager.test.ts
  packages/semantha/src/tests/npm.test.ts
  packages/semantha/src/tests/version.test.ts
Due: semantha

tests
  packages/semantha/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-a/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-b/package.json
  packages/semantha/src/tests/__fixtures__/workspaces/valid/packages/package-c/package.json
  packages/semantha/src/tests/version.test.ts
  yarn.lock
Due: semantha

remove git, add packages
  packages/semantha/package.json
  packages/semantha/src/git.ts
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/git.test.ts
  packages/semantha/src/tests/version.test.ts
  yarn.lock
Due: semantha

add tests
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha/src/bin.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/__snapshots__/config.test.ts.snap
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/manager.test.ts
Due: semantha, semantha-core

add manager tests
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/manager.test.ts
Due: semantha

Update dependency tslint to v5.12.1
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

update analyser
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/constants.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/tests/analyser.test.ts
  packages/semantha-core/src/tests/changelog.test.ts
  packages/semantha-core/src/tests/constants.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/version.test.ts
  packages/semantha-core/src/version.ts
  packages/semantha/src/bin.ts
Due: semantha, semantha-core

added github version fetch test
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/tests/github.test.ts
Due: semantha-core

versioning, core coverage
  packages/semantha-core/package.json
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/constants.ts
  packages/semantha-core/src/github.ts
  packages/semantha-core/src/index.ts
  packages/semantha-core/src/rules.ts
  packages/semantha-core/src/tests/analyser.test.ts
  packages/semantha-core/src/tests/constants.test.ts
  packages/semantha-core/src/tests/version.test.ts
  packages/semantha-core/src/types.d.ts
  packages/semantha-core/src/version.ts
  packages/semantha/src/config.ts
  yarn.lock
Due: semantha, semantha-core

fix tests
  packages/semantha-core/src/tests/changelog.test.ts
  packages/semantha-core/src/tests/github.test.ts
Due: semantha-core

expose dependency type
  packages/semantha-core/src/index.ts
Due: semantha-core

semantha
  packages/semantha/package.json
  packages/semantha/src/config.ts
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/npm.ts
  packages/semantha/src/tests/__fixtures__/config/no-matches/package.json
  packages/semantha/src/tests/__fixtures__/config/valid/packages/package-a/foo
  packages/semantha/src/tests/__fixtures__/config/valid/packages/package-b/foo
  packages/semantha/src/tests/__fixtures__/package/package.json
  packages/semantha/src/tests/__fixtures__/packages/invalid-name/package.json
  packages/semantha/src/tests/__fixtures__/packages/invalid-version/package.json
  packages/semantha/src/tests/__fixtures__/packages/valid/package.json
  packages/semantha/src/tests/__snapshots__/config.test.ts.snap
  packages/semantha/src/tests/__snapshots__/npm.test.ts.snap
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/manager.test.ts
  packages/semantha/src/tests/npm.test.ts
  packages/semantha/src/tests/version.test.ts
  packages/semantha/src/types.d.ts
  packages/semantha/src/version.ts
  yarn.lock
Due: semantha

manager
  packages/semantha/src/config.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/utils.ts
Due: semantha

Pin dependency @types/lodash.isequal to 4.5.3
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency got to v9.5.1
  packages/semantha/package.json
  yarn.lock
Due: semantha

add raw
  packages/semantha-core/src/analyser.ts
  packages/semantha-core/src/tests/analyser.test.ts
  packages/semantha-core/src/tests/changelog.test.ts
  packages/semantha-core/src/tests/github.test.ts
  packages/semantha-core/src/tests/version.test.ts
Due: semantha-core

semantha
  packages/semantha/package.json
  packages/semantha/src/config.ts
  packages/semantha/src/index.ts
  packages/semantha/src/manager.ts
  packages/semantha/src/publish.ts
  packages/semantha/src/tests/config.test.ts
  packages/semantha/src/tests/manager.test.ts
  packages/semantha/src/tests/npm.test.ts
  packages/semantha/src/types.d.ts
  yarn.lock
Due: semantha

add configuration tests
  packages/semantha/src/tests/config.test.ts
Due: semantha

manager covered
  packages/semantha/src/manager.ts
  packages/semantha/src/tests/manager.test.ts
  packages/semantha/src/tests/utils.test.ts
  packages/semantha/src/utils.ts
Due: semantha

publish tests
  packages/semantha/src/publish.ts
  packages/semantha/src/tests/__fixtures__/packages/write/package.json
  packages/semantha/src/tests/__snapshots__/publish.test.ts.snap
  packages/semantha/src/tests/publish.test.ts
Due: semantha

init action, publish scripts, dev
  action/Brewfile
  action/Dockerfile
  package.json
  packages/semantha-core/package.json
  packages/semantha/package.json
  packages/semantha/src/bin.ts
  packages/semantha/src/publish.ts
  packages/semantha/src/tests/publish.test.ts
  yarn.lock
Due: semantha, semantha-core

Pin dependency semantha to 0.0.0
  package.json
  yarn.lock
Due: none

Update dependency p-retry to v3.0.1
  packages/semantha/package.json
  yarn.lock
Due: semantha
