Repository maticzav/semantha: changes, and which Codecov flags are due for each by the changed paths.
All: semantha, semantha-core

Update dependency codecov to v3.7.1 [SECURITY]
  package.json
  yarn.lock
Due: none

Update dependency pretty-quick to v1.11.1
  package.json
  yarn.lock
Due: none

Update dependency tempy to ^0.7.0
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency tslint-config-prettier to v1.18.0
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency env-ci to v5
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency execa to v5
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency typescript to v3.9.9
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/node to v10.17.52
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency meow to v9
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency codecov to v3.8.1
  package.json
  yarn.lock
Due: none

Update dependency semver to v7
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency globby to v11
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency tempy to v1
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency got to v11
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency husky to v5
  package.json
  yarn.lock
Due: none

Update dependency @types/node to v10.17.56
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency get-stream to v6
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/node to v10.17.59
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency codecov to v3.8.2
  package.json
  yarn.lock
Due: none

Update dependency fs-extra to v10
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @octokit/rest to v18
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency husky to v6
  package.json
  yarn.lock
Due: none

Update dependency libnpmpublish to v4
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency pretty-quick to v3
  package.json
  yarn.lock
Due: none

Update dependency prettier to v2
  package.json
  yarn.lock
Due: none

Update dependency @types/node to v10.17.60
  packages/semantha-core/package.json
  yarn.lock
Due: semantha-core

Update dependency typescript to v3.9.10
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Update dependency @types/fs-extra to v9
  packages/semantha/package.json
  yarn.lock
Due: semantha

Update dependency @types/jest to v26
  packages/semantha-core/package.json
  packages/semantha/package.json
  yarn.lock
Due: semantha, semantha-core

Path conditions:
  semantha: any of: packages/semantha/
  semantha-core: any of: packages/semantha-core/
